*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.titulos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    border-bottom: 1px solid black;
    background-image: linear-gradient(#40128B, #FFE79B)
}

body{
    background-color: lightgoldenrodyellow;
}

.container-fluid{
    display: flex;
    direction: row;
    gap:3rem;
    justify-content: center;
    align-items: center;
    height: 510px;
}

.card{
    border:1px solid violet;
    width: 180px;
}

div{
    border:1px solid violet;
}

/*img{
    border:1px solid violet;
}*/

footer{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}
