*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    /*overflow:hidden;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url(./assets/fondo.jpg);
}


img{
    width: 410px;
    height: 270px;
    margin:auto;
    margin-top: 2rem;
    border-radius: 20px;
    border:1px solid white;
}

#cuatro>img{
    width: 1300px;
}

@media(max-width:500px){

    #tres{
        display: flex;
        align-items: baseline;
    }
    
    #tres>img{
        width: 20rem;
    }

    #cuatro>img{
        width: 20rem;
    }

    .container{
        background-image: url(./assets/fondo);
        border: 2px solid red;
        height: 250vh;
    }
}


